@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/gotham/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/gotham/Gotham-Thin.otf);
}
body {
    overflow-x:hidden;
}
#overlay.active {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    overflow:hidden;
}
#loading.active {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    background-color:rgba(0,0,0,0.3);
}
#loading i {
    display:none;
}
#loading.active i {
    position:absolute;
    top:calc(50% - 24px);
    left:calc(50% - 24px);
    transform:translate(-50%,-50%);
    color:#4d5958;
    display:block;
}
.page {
    position:absolute;
    top:0px;
    width:100%;
    animation-duration:0.45s;
}
.page.cached {
    display:none;
}
.gotham {
    font-family: Gotham-Book, serif;
}
.bg-persian-green {
    background-color:#00a99d;
}
.text-persian-green {
    color:#00a99d;
}
.text-color-1 {
    color:#839392;
}
.wrapper {
    min-height:100vh;
    padding:16px;
}
.ebuloy-white-img-2 {
    width:6em;
    display:inline-block;
}
.ebuloy-persian-green-img, .ebuloy-white-img {
    width:8.5em;
    display:inline-block;
}
.brand-tag-line {
    color:#ffffff;
    text-align:center;
    font-size:1.3em;
    line-height:1.3em;
    -webkit-text-stroke-width:0.02em;
    font-family:Gotham-Book, serif;
}
.c-btn {
    width:100%;
    font-family:Gotham-Book, serif;
    font-size:0.85em;
    border-radius:2em;
    border-width:0.09em;
    padding:0.75em;
    color:#ffffff;
    position:relative;
    -webkit-text-stroke-width:0.02em;
    letter-spacing:0.01em;
}
.c-btn:hover {
    box-shadow:0 .25rem 0.5rem rgba(0, 0, 0, .15) !important;
}
.c-btn-1 {
    background-color:#00a99d;
    border-color:#ffffff;
    color:#ffffff;
}
.c-btn-1:hover {
    color:#ffffff;
    background-color:#009F93;
}
.c-btn-1:active {
    color:#ffffff;
    background-color: #009589;
    box-shadow:none!important;
}
.c-btn-2 {
    background-color:#ffffff;
    border-color:#ffffff;
    color:#00a99d;
    -webkit-text-stroke-width:0.03em;
    letter-spacing:0.01em;
}
.c-btn-2:hover {
    color:#00a99d;
}
.c-btn-2:active {
    color:#00a99d;
    box-shadow:none!important;
}
.c-btn-3 {
    background-color:#ffffff;
    border-color:#00a99d;
    color:#839392;
    -webkit-text-stroke-width:0.03em;
    letter-spacing:0.01em;
}
.c-btn-3:hover {
    color:#00a99d;
}
.c-btn-3:active {
    color:#00a99d;
    box-shadow:none!important;
}
.c-btn-4 {
    background-color:#00a99d;
    border-color:#00a99d;
    color:#ffffff;
}
.c-btn-4:hover {
    color:#ffffff;
    background-color:#009F93;
}
.c-btn-4:active {
    color:#ffffff;
    background-color: #009589;
    box-shadow:none!important;
}
.c-btn-5 {
    background-color:#36a1dd;
    border-color:#36a1dd;
    color:#ffffff;
}
.c-btn-5:hover {
    color:#ffffff;
    background-color: #3797d3;
}
.c-btn-5:active {
    color:#ffffff;
    background-color: #3390c9;
    box-shadow:none!important;
}
.c-btn-6 {
    background-color:#e56557;
    border-color:#e56557;
    color:#ffffff;
}
.c-btn-6:hover {
    color:#ffffff;
    background-color: #db6154;
}
.c-btn-6:active {
    color:#ffffff;
    background-color: #d16254;
    box-shadow:none!important;
}
.c-btn-7 {
    background-color:#ffffff;
    border-color:#00a99d;
    color:#839392;
    -webkit-text-stroke-width:0.03em;
    letter-spacing:0.01em;
    display:inline-block;
    width:initial;
    padding:10px 30px;
}
.c-btn-7:hover {
    color:#00a99d;
}
.c-btn-7:active {
    color:#00a99d;
    box-shadow:none!important;
}
.c-btn-8 {
    background-color:#839392;
    border-color:#ffffff;
    color:#ffffff;
    -webkit-text-stroke-width:0.03em;
    letter-spacing:0.01em;
}
.c-btn-8:hover {
    color:#ffffff;
}
.c-btn-8:active {
    color:#ffffff;
    box-shadow:none!important;
}
.c-btn-9 {
    background-color:#ffffff;
    border-color:#00a99d;
    border-width:0.12em;
    color:#839392;
    -webkit-text-stroke-width:0.03em;
    letter-spacing:0.01em;
    padding:6px 36px;
    font-size: 0.7em;
    width:initial;
}
.c-btn-9:hover {
    color:#00a99d;
}
.c-btn-9:active {
    color:#00a99d;
    box-shadow:none!important;
}
.c-btn-social {
    height:1.8em;
    width:1.8em;
    padding:0.15em;
    font-size:0.75em;
}
.c-btn-social-2 {
    height:2.4em;
    width:2.4em;
    padding:0.4em;
    font-size:0.7em;
}
.c-btn i.fa-chevron-right {
    position:absolute;
    top:0.75em;
    right:1em;
    font-size:1.2em;
    color:#00a99d;
}
.c-btn i.fa-chevron-left {
    position:absolute;
    top:0.75em;
    left:1em;
    font-size:1.2em;
    color:#ffffff;
}
.c-btn #search-icon {
    position:absolute;
    top:0.57em;
    right:0.9em;
    font-size:1.2em;
    color:#00a99d;
    width:26px;
}
.c-btn i.fa-copy {
    position:absolute;
    top:0.7em;
    right:1.2em;
    font-size:1em;
    color:#00a99d;
}
.testimonial {
    font-family:Gotham-Thin, serif;
    text-align:center;
    font-style:italic;
    color:#ffffff;
    font-size:0.95em;
    line-height:1.4em;
    margin-bottom:10px;
    -webkit-text-stroke-width:0.005em;
}
.testimonial.author {
    font-size:0.8em;
    margin-bottom:24px;
}
.pages-header {
    color:#839392;
    text-align:center;
    font-size:1.4em;
    line-height:1.3em;
    -webkit-text-stroke-width:0.03em;
    font-family:Gotham-Book, serif;
}
.pages-sub-header {
    color:#839392;
    text-align:center;
    font-size:0.9em;
    line-height:1.3em;
    -webkit-text-stroke-width:0.01em;
    font-family:Gotham-Thin, serif;
}
.pages-img {
    width:100%;
}
.page-number {
    display:inline-block;
    height:2em;
    width:2em;
    padding:0.25em;
    font-size:0.7em;
    font-family:Gotham-Book, serif;
    -webkit-text-stroke-width:0.02em;
    background-color:#d4dddc;
    color:#839392;
    border-radius:50%;
}
.page-number.active {
    background-color:#839392;
    color:#ffffff;
}
.form-group {
    position:relative;
}
.form-group p {
    color:#839392;
    font-family:Gotham-Book, serif;
    font-size:0.65em;
    position:absolute;
    top:1px;
    left:16px;
    padding-top:7px;
    padding-bottom:2px;
    padding-right:10px;
}
.form-group.textarea p {
    background-color:#ffffff;
}
.form-group .form-control {
    border:0.07em solid #4d5958;
    border-radius:7px;
    font-family:Gotham-Book, serif;
    padding:32px 16px 16px 16px;
    margin-top:2px;
    font-size:0.8em;
    color:#526160;
}
.form-group textarea {
    height:300px;
    padding-top:24px!important;
}
.form-group .form-control::placeholder {
    color:#d4dddc;
}
.form-group .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #4d5958;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(77,89,88,.25);
}
.form-group p.disabled {
    background-color:#e9ecef;
}
.form-group .fas {
    position:absolute;
    right:12px;
    top:14px;
    color:#00a99d;
    font-size:1.2em;
}
.form-group.form-group-2 .form-control {
    padding:10px 14px;
    height:initial;
    font-size: 0.7em;
}
.form-group.form-group-2 select.form-control {
    padding-left:10px;
}
.form-group.form-group-2 .form-control::placeholder {
    color:#839392;
}
.modal-content {
    border-radius:14px;
}
.modal .modal-header {
    padding:10px 16px;
}
.modal-title {
    font-family: Gotham-Book, serif;
    color:#839392;
    text-align:center;
    width:100%;
    font-size:1.2em;
}
.modal-body {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:0.9em;
}
.modal .close {
    color:#839392;
    position:absolute;
    top:10px;
    right:14px;
}
.dashboard-card {
    border-radius:14px;
}
.dashboard-card .card-header {
    border-radius:14px 14px 0px 0px;
    padding-top:16px;
    background-color:#ffffff;
    border-bottom:0;
}
.dashboard-card .nav-item {
    padding:0px 8px;
}
.dashboard-card .nav-link {
    font-family: Gotham-Book, serif;
    color:#d4dddc;
    text-align:center;
    padding:0px;
    font-size:0.68em;
}
.dashboard-card .nav-link img {
    width:29px;
    margin-bottom:4px;
}
.dashboard-card .nav-link:not(.active) img.active {
    display:none;
}
.dashboard-card .nav-link:not(.active) img.inactive {
    display:inline-block;
}
.dashboard-card .nav-link.active img.active {
    display:inline-block;
}
.dashboard-card .nav-link.active img.inactive {
    display:none;
}
.dashboard-card .nav-link.active {
    background-color:#ffffff;
    color:#00a99d;
}
.dashboard-card .card-body {
    background-color:#eff4f3;
    padding:16px;
    min-height: calc(100vh - 270px);
}
.dashboard-card .card-footer {
    background-color:#ffffff;
    border-radius:0px 0px 14px 14px;
    height:70px;
    border-top:0;
}
.deceased-item {
    background-color:#ffffff;
    width:100%;
    padding:12px 10px;
    border-radius:14px;
    position:relative;
    margin-bottom:15px;
}
.deceased-item.draft {
    cursor: pointer;
}
.deceased-item .image {
    width:100%;
    padding-top:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
}
.width-initial {
    width:initial;
}
.width-30 {
    width:30px;
}
.width-32 {
    width:32px;
}
.width-40 {
    width:40px;
}
.width-70 {
    width:70px;
}
.width-85 {
    width:85px;
}
.deceased-item .name {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:0.65em;
    font-weight:bold;
}
.deceased-item .status {
    position:absolute;
    right:12px;
    bottom:5px;
    font-family: Gotham-Book, serif;
    color:#839392;
    font-weight:bold;
    font-size:0.5em;
}
.deceased-item .status.active {
    color:#00a99d;
}
.deceased-item .row {
    line-height:10px;
}
.deceased-item .label, .deceased-item .value {
    font-size:0.55em;
    font-family: Gotham-Book, serif;
}
.deceased-item .label {
    color:#839392;
}
.deceased-item .value {
    color:#00a99d;
}
.deceased-item .label.disabled, .deceased-item .value.disabled {
    color:#d4dddc;
}
.deceased-item .story {
    font-size:0.55em;
    font-family: Gotham-Book, serif;
    color:#839392;
    margin-top:8px;
    margin-bottom:4px;
    padding-left:55px;
    max-height:40px;
    overflow:hidden;
    text-overflow: ellipsis;
}
#add-campaign-button {
    border:2px dashed #d5dddc;
    height:64px;
    border-radius:14px;
    position:relative;
    display:block;
}
#add-campaign-button .fas {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#d5dddc;
    font-size:1.6em;
}
.font-size-200 {
    font-size:1.9em;
}
.font-size-160 {
    font-size:1.6em;
}
.font-size-150 {
    font-size:1.5em;
}
.font-size-90 {
    font-size:0.9em;
}
.font-size-85 {
    font-size:0.85em;
}
.font-size-80 {
    font-size:0.8em;
}
.font-size-75 {
    font-size:0.75em;
}
.font-size-70 {
    font-size:0.7em;
}
.font-size-65 {
    font-size:0.65em;
}
#upload-photo {
    border:2px dashed #d5dddc;
    height:100px;
    width:100px;
    border-radius:50%;
    position:relative;
    display:inline-block;
    cursor: pointer;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:initial;
}
#upload-cover-photo {
    border:2px dashed #d5dddc;
    height:110px;
    width:100%;
    border-radius:14px;
    position:relative;
    display:inline-block;
    cursor: pointer;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:initial;
}
.upload-payment-transaction-photo {
    border:2px dashed #d5dddc;
    height:240px;
    width:120px;
    border-radius:14px;
    position:relative;
    display:inline-block;
    cursor: pointer;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:initial;
}
#upload-photo div, #upload-cover-photo div, .upload-payment-transaction-photo div {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#d5dddc;
    font-size:2.6em;
    font-family: Gotham-Book, serif;
}
#upload-photo.active, #upload-cover-photo.active, .upload-payment-transaction-photo.active {
    border:2px solid #d5dddc;
}
#upload-photo.active div, #upload-cover-photo.active div, .upload-payment-transaction-photo.active div {
    display:none;
}
#save-as-draft, #cancel-search {
    color:#839392;
    text-align:center;
    font-size:0.85em;
    line-height:1.3em;
    -webkit-text-stroke-width:0.03em;
    font-family:Gotham-Thin, serif;
    font-weight:bold;
    text-decoration:underline;
}
.label {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:0.56em;
    font-weight:bold;
}
.account-details p {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:0.58em;
    margin-bottom:3px;
}
#earned-donations-container, #bank-account-information-container {
    border-top:1px solid #eff4f3;
}
.earned-donations {
    width:100%;
    padding-top:100%;
    background-color:#eff4f3;
    border-radius:50%;
    position:relative;
}
.earned-donations.total {
    background-color:#00a99d;
}
.earned-donations div {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}
.earned-donations p {
    color:#839392;
}
.earned-donations.total p {
    color:#ffffff;
}
.earned-donations .amount {
    font-size:1.9em;
    font-family: 'Bebas Neue', cursive;
    margin-bottom:3px;
    line-height:1em;
}
.earned-donations .method {
    font-size:0.59em;
    font-family: Gotham-Book, serif;
    margin-bottom:0px;
}
#bank-account-information-container td {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:0.58em;
    margin-bottom:3px;
}
.account-edit-text {
    font-family: Gotham-Book, serif;
    font-size:0.56em;
    font-weight:bold;
    text-align:right;
    color:#00a99d;
}
#cover-photo {
    background-color:#d4dddc;
    height:180px;
    width:100%;
    background-image:initial;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#deceased-photo-container {
    text-align:center;
    margin-top:-70px;
}
#deceased-photo {
    display: inline-block;
    width:140px;
    height:140px;
    background-color:#ffffff;
    border-radius:50%;
    background-image:initial;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.stroke-1 {
    -webkit-text-stroke-width:0.01em;
}
.stroke-2 {
    -webkit-text-stroke-width:0.02em;
}
.stroke-3 {
    -webkit-text-stroke-width:0.03em;
}
#interment-container {
    border-top:1px solid #4d5958;
    border-bottom:1px solid #4d5958;
}
.line-height-160 {
    line-height:1.6em;
}
.line-height-190 {
    line-height:1.9em;
}
.line-height-195 {
    line-height:1.95em;
}
.line-height-200 {
    line-height:2em;
}
.line-height-210 {
    line-height:2.1em;
}
#back-button {
    top:15px;
    left:15px;
    height:40px;
    width:40px;
    background-color:#ffffff;
    color:#00a99d;
    border-radius:50%;
    border:2px solid #00a99d;
    padding-top:5px;
    text-align:center;
    display:block;
}
#public-memorial-campaigns-nav {
    width:100%;
}
#public-memorial-campaigns-nav p {
    font-family: Gotham-Book, serif;
    font-size:0.7em;
    color:#00a99d;
    margin-bottom:0px;
    padding-left:12px;
    padding-top:4px;
}
#public-memorial-campaigns-nav .nav-link:not(.active) #search-active, #public-memorial-campaigns-nav .nav-link.active #search-inactive {
    display:none;
}
#public-memorial-campaigns-nav .nav-link.active #search-active, #public-memorial-campaigns-nav .nav-link:not(.active) #search-inactive {
    display:inline-block;
}
#public-campaigns-card .card-body {
    min-height: calc(100vh - 250px);
}
.filter-pills-container {
    margin-top:20px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-pills {
    font-family: Gotham-Book, serif;
    background-color:#e1eae9;
    color:#839392;
    line-height: 1.1em;
    font-size:0.7em;
    text-align:center;
    padding:8px 14px;
    border-radius:20px;
    margin:0 3px 8px 3px;
    position:relative;
}
.filter-pills.active {
    background-color:#b2ceca;
    color:#ffffff;
}
.filter-pills .fas {
    padding-left:4px;
}
.filter-pills.active .fas {
    display:inline-block;
}
.filter-pills:not(.active) .fas {
    display:none;
}
.text-decoration-none {
    text-decoration:none;
}
.donation-amount-container {
    position:relative;
    padding:0 36px;
}
.donation-amount-container span {
    position:absolute;
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:1.9em;
    font-weight:bold;
    top:3px;
    left:52px;
}
.donation-amount-container input {
    height:51px;
    padding-left:80px;
    font-family: Gotham-Book, serif;
    font-size:1.9em;
    text-align:right;
    color:#839392;
    font-weight:bold;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #4d5958;
    border-radius:0px;
    padding-right:16px;
}
.donation-amount-container input::placeholder {
    color:#839392;
}
.donation-amount-container input:focus {
    color:#839392;
    box-shadow: none;
    border-bottom:1px solid #4d5958;
}
.border-bottom-color-1 {
    border-bottom:1px solid #4d5958;
}
.donation-my-profile-container {
    background-color:#eff4f3;
    padding:12px 26px;
    border-radius:8px;
}
.donation-my-profile-container .photo {
    width:70px;
    padding-top:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:50%;
}
.cursor-pointer {
    cursor:pointer;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #00a99d;
    background-color: #00a99d;
}
#donation-amount-display {
    font-family: Gotham-Book, serif;
    color:#839392;
    font-size:1.9em;
    font-weight:bold;
    text-align:center;
}
.payment-methods-container img {
    width:170px;
}
.payment-methods-container .card-body {
    min-height:initial;
}
.alertify-notifier .ajs-message.ajs-error {
    font-size: 0.85em;
    padding:8px;
    font-family: Gotham-Book, serif;
    color: #fff;
}
.alertify-notifier .ajs-message.ajs-success {
    font-size: 0.85em;
    padding:8px;
    font-family: Gotham-Book, serif;
    color: #fff;
    background: #00a99d;
}
.account-image-container {
    width:100%;
    padding-top:100%;
    border-radius:50%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.payment-methods-container .accordion-button i {
    display:none;
}
.payment-methods-container .accordion-button:not(.collapsed) i {
    position:absolute;
    top:30px;
    right:14px;
    color:#00a99d;
    font-size: 1.2em;
    display:block;
}
